DROP TABLE type_avis;
ALTER TABLE activite CHANGE type type VARCHAR(50) DEFAULT NULL, CHANGE prix prix DOUBLE PRECISION DEFAULT NULL, CHANGE lieu lieu VARCHAR(100) DEFAULT NULL, CHANGE image_url image_url VARCHAR(255) DEFAULT NULL, CHANGE ai_rating ai_rating DOUBLE PRECISION DEFAULT NULL;
ALTER TABLE avis DROP FOREIGN KEY `FK_8F91ABF0C54C8C93`;
ALTER TABLE avis ADD sentiment_label VARCHAR(20) DEFAULT NULL, ADD sentiment_score DOUBLE PRECISION DEFAULT NULL;
ALTER TABLE avis ADD CONSTRAINT FK_8F91ABF0C54C8C93 FOREIGN KEY (type_id) REFERENCES typeavis (id);
ALTER TABLE blog DROP facebook_post_id, DROP facebook_publish_status, DROP facebook_published_at, CHANGE image_couverture image_couverture VARCHAR(255) DEFAULT NULL, CHANGE author_id author_id VARCHAR(100) DEFAULT NULL, CHANGE date_creation date_creation DATETIME DEFAULT NULL, CHANGE date_publication date_publication DATETIME DEFAULT NULL, CHANGE slug slug VARCHAR(255) DEFAULT NULL, CHANGE sentiment_emoji sentiment_emoji VARCHAR(10) DEFAULT NULL, CHANGE rating_average rating_average DOUBLE PRECISION DEFAULT NULL;
ALTER TABLE blog_rating CHANGE created_at created_at DATETIME DEFAULT NULL;
ALTER TABLE blog_views CHANGE user_identifier user_identifier VARCHAR(255) DEFAULT NULL, CHANGE view_date view_date DATETIME DEFAULT NULL;
ALTER TABLE chambre CHANGE numero numero VARCHAR(10) DEFAULT NULL, CHANGE type_chambre type_chambre VARCHAR(50) DEFAULT NULL, CHANGE prix_nuit prix_nuit NUMERIC(10, 2) DEFAULT NULL;
ALTER TABLE comment_reaction CHANGE created_at created_at DATETIME DEFAULT NULL, CHANGE updated_at updated_at DATETIME DEFAULT NULL;
ALTER TABLE comment_reaction RENAME INDEX idx_656dd136f8697d13 TO IDX_B99364F1BA9CD190;
ALTER TABLE comment_reaction RENAME INDEX idx_656dd136a76ed395 TO IDX_B99364F1A76ED395;
ALTER TABLE comment_report CHANGE updated_at updated_at DATETIME DEFAULT NULL;
ALTER TABLE comment_report RENAME INDEX idx_3dbde258a76ed395 TO IDX_E3C2F96A76ED395;
ALTER TABLE comment_report RENAME INDEX idx_3dbde258f8697d13 TO IDX_E3C2F96BA9CD190;
ALTER TABLE commentaire DROP reaction_counts, CHANGE date_creation date_creation DATETIME DEFAULT NULL, CHANGE img img VARCHAR(255) DEFAULT NULL;
ALTER TABLE destination DROP FOREIGN KEY `FK_3EC63EAA68C9E5AF`;
DROP INDEX IDX_3EC63EAA68C9E5AF ON destination;
ALTER TABLE destination DROP voyage_id, CHANGE meilleure_saison meilleure_saison VARCHAR(50) DEFAULT NULL, CHANGE latitude latitude DOUBLE PRECISION DEFAULT NULL, CHANGE longitude longitude DOUBLE PRECISION DEFAULT NULL, CHANGE video_path video_path VARCHAR(500) DEFAULT NULL, CHANGE nb_likes nb_likes INT DEFAULT NULL;
ALTER TABLE disponibilite CHANGE date_debut date_debut DATE DEFAULT NULL, CHANGE date_fin date_fin DATE DEFAULT NULL;
ALTER TABLE hebergement CHANGE prix prix NUMERIC(10, 2) DEFAULT NULL, CHANGE image_path image_path VARCHAR(255) DEFAULT NULL, CHANGE latitude latitude DOUBLE PRECISION DEFAULT NULL, CHANGE longitude longitude DOUBLE PRECISION DEFAULT NULL, CHANGE adresse adresse VARCHAR(255) DEFAULT NULL;
ALTER TABLE reclamation DROP FOREIGN KEY `FK_CE606404C54C8C93`;
ALTER TABLE reclamation CHANGE latitude latitude NUMERIC(10, 8) DEFAULT NULL, CHANGE longitude longitude NUMERIC(11, 8) DEFAULT NULL;
ALTER TABLE reclamation ADD CONSTRAINT FK_CE606404C54C8C93 FOREIGN KEY (type_id) REFERENCES typeavis (id);
ALTER TABLE reservation CHANGE client_nom client_nom VARCHAR(100) DEFAULT NULL, CHANGE client_tel client_tel VARCHAR(20) DEFAULT NULL, CHANGE client_email client_email VARCHAR(150) DEFAULT NULL, CHANGE date_debut date_debut DATE DEFAULT NULL, CHANGE date_fin date_fin DATE DEFAULT NULL, CHANGE total total NUMERIC(10, 2) DEFAULT NULL, CHANGE statut statut VARCHAR(50) DEFAULT NULL, CHANGE created_at created_at DATETIME DEFAULT NULL, CHANGE fcm_token fcm_token VARCHAR(1024) DEFAULT NULL;
ALTER TABLE reservation_activite MODIFY id INT NOT NULL;
ALTER TABLE reservation_activite ADD user_id INT DEFAULT NULL, CHANGE id id_reservation INT AUTO_INCREMENT NOT NULL, DROP PRIMARY KEY, ADD PRIMARY KEY (id_reservation);
ALTER TABLE reservation_activite ADD CONSTRAINT FK_25C0B701A76ED395 FOREIGN KEY (user_id) REFERENCES users (id) ON DELETE SET NULL;
CREATE INDEX IDX_25C0B701A76ED395 ON reservation_activite (user_id);
ALTER TABLE role CHANGE description description VARCHAR(255) DEFAULT NULL, CHANGE created_at created_at DATETIME DEFAULT NULL, CHANGE updated_at updated_at DATETIME DEFAULT NULL;
ALTER TABLE transport DROP FOREIGN KEY `FK_66AB212E816C6140`;
DROP INDEX IDX_66AB212E816C6140 ON transport;
ALTER TABLE transport DROP destination_id, CHANGE type_transport type_transport VARCHAR(100) DEFAULT NULL;
ALTER TABLE transport RENAME INDEX fk_transport_voyage TO IDX_66AB212E68C9E5AF;
ALTER TABLE type CHANGE nom nom VARCHAR(100) DEFAULT NULL;
ALTER TABLE user_favorite CHANGE created_at created_at DATETIME DEFAULT NULL;
ALTER TABLE users CHANGE telephone telephone VARCHAR(20) DEFAULT NULL, CHANGE created_at created_at DATETIME DEFAULT NULL, CHANGE updated_at updated_at DATETIME DEFAULT NULL, CHANGE avatar_name avatar_name VARCHAR(255) DEFAULT NULL, CHANGE is_verified is_verified TINYINT DEFAULT NULL, CHANGE verification_token verification_token VARCHAR(255) DEFAULT NULL, CHANGE reset_token reset_token VARCHAR(255) DEFAULT NULL, CHANGE reset_token_expires_at reset_token_expires_at DATETIME DEFAULT NULL, CHANGE telegram_chat_id telegram_chat_id VARCHAR(100) DEFAULT NULL;
CREATE UNIQUE INDEX UNIQ_1483A5E9E7927C74 ON users (email);
ALTER TABLE voyage DROP FOREIGN KEY `FK_3F9D8955BCDB4AF4`;
DROP INDEX IDX_3F9D8955BCDB4AF4 ON voyage;
ALTER TABLE voyage DROP reserved_by_id, CHANGE date_depart date_depart DATE DEFAULT NULL, CHANGE date_arrivee date_arrivee DATE DEFAULT NULL, CHANGE point_depart point_depart VARCHAR(100) DEFAULT NULL, CHANGE point_arrivee point_arrivee VARCHAR(100) DEFAULT NULL, CHANGE prix prix DOUBLE PRECISION DEFAULT NULL, CHANGE paid paid TINYINT DEFAULT 0 NOT NULL;
ALTER TABLE voyage_reservations DROP FOREIGN KEY `voyage_reservations_ibfk_1`;
ALTER TABLE voyage_reservations DROP FOREIGN KEY `voyage_reservations_ibfk_2`;
ALTER TABLE voyage_reservations ADD CONSTRAINT FK_38A6746568C9E5AF FOREIGN KEY (voyage_id) REFERENCES voyage (id) ON DELETE CASCADE;
ALTER TABLE voyage_reservations ADD CONSTRAINT FK_38A6746567B3B43D FOREIGN KEY (users_id) REFERENCES users (id) ON DELETE CASCADE;
ALTER TABLE voyage_reservations RENAME INDEX users_id TO IDX_38A6746567B3B43D;
ALTER TABLE messenger_messages CHANGE delivered_at delivered_at DATETIME DEFAULT NULL;
