{% extends 'admin/base_admin.html.twig' %}

{% block title %}Ajouter Utilisateur{% endblock %}

{% block admin_content %}
    <h1>Ajouter un utilisateur</h1>
    {# Ton formulaire ici #}
{% endblock %}