{% extends 'base.html.twig' %}

{% block body %}
<div class="dashboard">
    {% include 'admin/Partials/sidebar.html.twig' %}
    
    <div class="main-content">
        {% include 'admin/Partials/navbar.html.twig' %}
        {% block admin_content %}{% endblock %}
    </div>
</div>
{% endblock %}