<footer>
  <div class="container">
    <div class="col-lg-8">
      <p>Copyright &copy; 2026 Villa Agency. Design: <a href="https://templatemo.com" target="_blank">TemplateMo</a></p>
    </div>
  </div>
</footer>