{% extends 'base_front.html.twig' %}

{% block title %}Ajouter Activité{% endblock %}

{% block body %}

<div class="page-heading header-text"
     style="
        background-image: url('{{ asset('assets_front/images/ajout-activite.jpg') }}');
        background-size: cover;
        background-position: center;
     ">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="breadcrumb">
                    <a href="{{ path('app_home') }}">Home</a> / Ajouter activité
                </span>
                <h3 style="color:white;">Ajouter une activité</h3>
            </div>
        </div>
    </div>
</div>

<div class="contact-page section">
    <div class="container">
        <div class="row">

            <div class="col-lg-6">
                <div class="section-heading">
                    <h6>| Nouvelle Activité</h6>
                    <h2>Créer une activité pour votre plateforme</h2>
                </div>

                <p>
                    Remplissez les informations ci-dessous pour ajouter une nouvelle activité.
                </p>

                
            </div>

            <div class="col-lg-6">
            {{ include('activite/_form.html.twig', { form: form, button_label: 'Ajouter' }) }}
            </div>

        </div>
    </div>
</div>

{% endblock %}